.authors-letter_item
    .letter-item_header A
        a.all-authors_link(href="") Все
    ul.letter-list
        li
            a(href="") Айткалиев Равиль Анзерович <span>213978</span>
        li
            a(href="") Аврущенко Владимир Израилевич <span>213978</span>
        li
            a(href="") Аврутин Анатолий Юрьевич <span>213978</span>
        li
            a(href="") Азарова Наталия Михайловна <span>213978</span>
        li
            a(href="") Айзеншарф Алла Наумовна <span>213978</span>
        li
            a(href="") Айткалиев Равиль Анзерович <span>213978</span>
        li
            a(href="") Айткалиев Равиль Анзерович <span>213978</span>