.shelf-container
    .add_shelf_book-list_item
        .shelf_book-list_item-img
            img(src="https://media-cdn.tripadvisor.com/media/photo-s/11/13/7b/3c/caption.jpg", alt="")
        .shelf_book-list_item-content
            .shelf_book-list_item-title
                span Мотивационная литература про чето там Мотивационная литература про чето там
            .shelf_book-list_item-info 
                .item-content_data <span class='compilation_books-counter'>20 книг</span> <span class='dot'></span> <span class='compilation_folllwers-counter'>32 подписок</span>