.crumbs-box
    .crumbs
        ul
            li
                a(href="#") Крошка
            li
                a(href="#") Крохотулечка
            li
                a.actual-page(href="#") Крохотня