.card-item
    .card-item_img
        a(href="" title="Книга 45 татуировок менеджера")
            img(src="https://avatars.mds.yandex.net/get-pdb/224945/f358b199-97c2-45f4-a565-433a62935ec6/s375", alt="книга 45 татуировок менеджера 45 татуировок менеджера" title="книга 45 татуировок менеджера 45 татуировок менеджера")
        input.range-mix(type="range", value="0" min="0" max="10")
        .rate-num 
        .user_rate-box 10

        .card-select_item
            label
                input(type="checkbox")
                span

    .card-item_description
        .card-item_rating
            .average_rate 4.8
            .votes_counter 548 оценок
        
        a(href="" title="Джим КоллинзДжим КоллинзДжим КоллинзДжим КоллинзДжим Коллинз").card-item_author Джим КоллинзДжим КоллинзДжим КоллинзДжим КоллинзДжим Коллинз
        a(href="" title="45 татуировок менеджера 45 татуировок менеджера 45 татуировок менеджера 45 татуировок менеджера 45 татуировок менеджера ").card-item_name 45 татуировок менеджера  