.comment-item
    .comment-item_header
        .comment-avatar
        .comment-user_data
            .comment-name-rate
                .comment-user_name @uljana1987
                .comment-user_rate оценка книги <span>2</span>
            .comment-date вчера
    .comment-item_content
        |«За гранью привычного вас ждёт потрясающая, волшебная жизнь. Да, она не всегда будет 
        |по вкусу напоминать пирожок с вишней, но она подарит вам. Да, она не всегда будет по
        | вкусу напоминать пирожок с вишней, но она подарит вам
        |«За гранью привычного вас ждёт потрясающая, волшебная жизнь. Да, она не всегда будет 
        |по вкусу напоминать пирожок с вишней, но она подарит вам. Да, она не всегда будет по
        | вкусу напоминать пирожок с вишней, но она подарит вам
        |«За гранью привычного вас ждёт потрясающая, волшебная жизнь. Да, она не всегда будет 
        |по вкусу напоминать пирожок с вишней, но она подарит вам. Да, она не всегда будет по
        | вкусу напоминать пирожок с вишней, но она подарит вам
        |«За гранью привычного вас ждёт потрясающая, волшебная жизнь. Да, она не всегда будет 
        |по вкусу напоминать пирожок с вишней, но она подарит вам. Да, она не всегда будет по
        | вкусу напоминать пирожок с вишней, но она подарит вам
        |«За гранью привычного вас ждёт потрясающая, волшебная жизнь. Да, она не всегда будет 
        |по вкусу напоминать пирожок с вишней, но она подарит вам. Да, она не всегда будет по
        | вкусу напоминать пирожок с вишней, но она подарит вам

    .comment-item_social
        .comment-social_item
            img(src="./img/icons/social/like-n.svg", alt="")
            span 3
        .open-comment
            button  Развернуть
        .comment-social_item.answer
            img(src="./img/icons/social/answer.svg", alt="")
            span 3
        .comment-social_item.share
            img(src="./img/icons/social/share.svg", alt="")
            span 3