.compilation-collections_item
    .compilation-item_box
        .item-blur
        .item-content
            .item-content_data <span class='compilation_books-counter'>20 книг</span> <span class='dot'></span> <span class='compilation_folllwers-counter'>32 подписок</span>
            .item-content_title Подборка о здоровом образе жизни
            .item-content_user
                .item-content_user-avatar
                    img(src="https://vignette.wikia.nocookie.net/simpsons/images/8/8b/Maggie.jpg/revision/latest?cb=20140522121724&path-prefix=ru", alt="")
                .item-content_user-name
                    a(href="#") @Maggie