.compilation-section
    .box
        .compilation-section_header
            h3.compilation-title Лучшие новинки
            a.compilation-link_all(href="") Все

        .compilation-collections
            include ./compilation_collections_item.pug
            include ./compilation_collections_item.pug
            include ./compilation_collections_item.pug
            include ./compilation_collections_item.pug