.compilation-section
    .box
        .compilation-section_header
            h3.compilation-title Лучшие новинки
            a.compilation-link_all(href="") Все
        
        .compilation-section_list
            include ./card_item.pug
            include ./card_item.pug
            include ./card_item.pug
            include ./card_item.pug
            include ./card_item.pug