#genres.accordion
    .card.compilation
        #genresHeadingOne.card-header
                button.accordion-opener(type='button', data-toggle='collapse', data-target='#genresOne', aria-expanded='true', aria-controls='collapseOne')
                    span Подборки
                    .genres-icon
                        span
        #genresOne.collapse(aria-labelledby='genresHeadingOne', data-parent='#genres')
            .card-body
                |123