// можно добавить класс .colored, чтобы окрасить секцию в серый цвет.
.advice-section.colored
    .advice-section_list
        #advice-section_carousel.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
                li.active(data-target='#advice-section_carousel', data-slide-to='0')
                li(data-target='#advice-section_carousel', data-slide-to='1')
                li(data-target='#advice-section_carousel', data-slide-to='2')

            .carousel-inner
                .carousel-item.active 
                    .advice-item
                        .review-item
                            .review-item_card
                                include ./card_item.pug
                                .review-item_card-data
                                    ul.recomendation-item_values
                                        li(data-toggle="tooltip" data-placement="top" title="количество рецензий") 345
                                        li(data-toggle="tooltip" data-placement="top" title="добавлено на полки") 66
                                        li(data-toggle="tooltip" data-placement="top" title="количество просмотров") 26647
                                    .book_item-author
                                        a(href="").book_item-author-link Оскар Уайлд
                                    .book_item-name Лидер и племя. Пять уровней корпоративной культуры
                                    .advice-descr_fragment 
                                        |Обучение по программе МВА – дорогостоящее удовольствие и не всегда оправданное вложение средств. Даже самые престижные бизнес-школы, вроде Гарвардской или Уортонской, предлагают
                                        |Обучение по программе МВА – дорогостоящее удовольствие и не всегда оправданное вложение средств. Даже самые престижные бизнес-школы, вроде Гарвардской или Уортонской, предлагают
                        .review-item
                            .review-item_card
                                include ./card_item.pug
                                .review-item_card-data
                                    ul.recomendation-item_values
                                        li(data-toggle="tooltip" data-placement="top" title="количество рецензий") 345
                                        li(data-toggle="tooltip" data-placement="top" title="добавлено на полки") 66
                                        li(data-toggle="tooltip" data-placement="top" title="количество просмотров") 26647
                                    .book_item-author
                                        a(href="").book_item-author-link Оскар Уайлд
                                    .book_item-name Лидер и племя. Пять уровней корпоративной культуры
                                    .advice-descr_fragment 
                                        |Обучение по программе МВА – дорогостоящее удовольствие и не всегда оправданное вложение средств. Даже самые престижные бизнес-школы, вроде Гарвардской или Уортонской, предлагают

                .carousel-item 
                    .advice-item
                        .review-item
                            .review-item_card
                                include ./card_item.pug
                                .review-item_card-data
                                    ul.recomendation-item_values
                                        li(data-toggle="tooltip" data-placement="top" title="количество рецензий") 345
                                        li(data-toggle="tooltip" data-placement="top" title="добавлено на полки") 66
                                        li(data-toggle="tooltip" data-placement="top" title="количество просмотров") 26647
                                    .book_item-author
                                        a(href="").book_item-author-link Оскар Уайлд
                                    .book_item-name Лидер и племя. Пять уровней корпоративной культуры
                                    .advice-descr_fragment 
                                        |Обучение по программе МВА – дорогостоящее удовольствие и не всегда оправданное вложение средств. Даже самые престижные бизнес-школы, вроде Гарвардской или Уортонской, предлагают
                        .review-item
                            .review-item_card
                                include ./card_item.pug
                                .review-item_card-data
                                    ul.recomendation-item_values
                                        li(data-toggle="tooltip" data-placement="top" title="количество рецензий") 345
                                        li(data-toggle="tooltip" data-placement="top" title="добавлено на полки") 66
                                        li(data-toggle="tooltip" data-placement="top" title="количество просмотров") 26647
                                    .book_item-author
                                        a(href="").book_item-author-link Оскар Уайлд
                                    .book_item-name Лидер и племя. Пять уровней корпоративной культуры
                                    .advice-descr_fragment 
                                        |Обучение по программе МВА – дорогостоящее удовольствие и не всегда оправданное вложение средств. Даже самые престижные бизнес-школы, вроде Гарвардской или Уортонской, предлагают
                    
                .carousel-item 
                    .advice-item
                        .review-item
                            .review-item_card
                                include ./card_item.pug
                                .review-item_card-data
                                    ul.recomendation-item_values
                                        li(data-toggle="tooltip" data-placement="top" title="количество рецензий") 345
                                        li(data-toggle="tooltip" data-placement="top" title="добавлено на полки") 66
                                        li(data-toggle="tooltip" data-placement="top" title="количество просмотров") 26647
                                    .book_item-author
                                        a(href="").book_item-author-link Оскар Уайлд
                                    .book_item-name Лидер и племя. Пять уровней корпоративной культуры
                                    .advice-descr_fragment 
                                        |Обучение по программе МВА – дорогостоящее удовольствие и не всегда оправданное вложение средств. Даже самые престижные бизнес-школы, вроде Гарвардской или Уортонской, предлагают
                        .review-item
                            .review-item_card
                                include ./card_item.pug
                                .review-item_card-data
                                    ul.recomendation-item_values
                                        li(data-toggle="tooltip" data-placement="top" title="количество рецензий") 345
                                        li(data-toggle="tooltip" data-placement="top" title="добавлено на полки") 66
                                        li(data-toggle="tooltip" data-placement="top" title="количество просмотров") 26647
                                    .book_item-author
                                        a(href="").book_item-author-link Оскар Уайлд
                                    .book_item-name Лидер и племя. Пять уровней корпоративной культуры
                                    .advice-descr_fragment 
                                        |Обучение по программе МВА – дорогостоящее удовольствие и не всегда оправданное вложение средств. Даже самые престижные бизнес-школы, вроде Гарвардской или Уортонской, предлагают