// можно добавить класс .colored, чтобы окрасить секцию в серый цвет.
.recomendation-section.colored
    .box
        .recomendation-list
            #carouselExampleCaptions.carousel.slide(data-ride='carousel')
                ol.carousel-indicators
                    li.active(data-target='#carouselExampleCaptions', data-slide-to='0')
                    li(data-target='#carouselExampleCaptions', data-slide-to='1')
                    li(data-target='#carouselExampleCaptions', data-slide-to='2')

                .carousel-inner
                    .carousel-item.active
                        .carousel-item_box
                            .recomendation-item
                                include ./card_item.pug
                                .recomendation-item_data
                                    ul.recomendation-item_values
                                        li 345
                                        li 12
                                        li 985
                                    .recomendation-item_header Счастливый принц и другие сказки
                                    .recomendation-item_content Обучение по программе МВА – дорогостоящее удовольствие и не всегда оправданное вложение средств. Даже самые престижные бизнес-школы, вроде Гарвардской или Уортонской, предлагают Обучение по программе МВА – дорогостоящее удовольствие и не всегда оправданное вложение средств. Даже самые престижные бизнес-школы, вроде Гарвардской или Уортонской, предлагают
                            .recomendation-item
                                include ./card_item.pug
                                .recomendation-item_data
                                    ul.recomendation-item_values
                                        li 345
                                        li 12
                                        li 985
                                    .recomendation-item_header Счастливый принц и другие сказки
                                    .recomendation-item_content Обучение по программе МВА – дорогостоящее удовольствие и не всегда оправданное вложение средств. Даже самые престижные бизнес-школы, вроде Гарвардской или Уортонской, предлагают Обучение по программе МВА – дорогостоящее удовольствие и не всегда оправданное вложение средств. Даже самые престижные бизнес-школы, вроде Гарвардской или Уортонской, предлагают

                    .carousel-item
                        .carousel-item_box
                            .recomendation-item
                                include ./card_item.pug
                                .recomendation-item_data
                                    ul.recomendation-item_values
                                        li 345
                                        li 12
                                        li 985
                                    .recomendation-item_header Счастливый принц и другие сказки
                                    .recomendation-item_content Обучение по программе МВА – дорогостоящее удовольствие и не всегда оправданное вложение средств. Даже самые престижные бизнес-школы, вроде Гарвардской или Уортонской, предлагают Обучение по программе МВА – дорогостоящее удовольствие и не всегда оправданное вложение средств. Даже самые престижные бизнес-школы, вроде Гарвардской или Уортонской, предлагают
                            .recomendation-item
                                include ./card_item.pug
                                .recomendation-item_data
                                    ul.recomendation-item_values
                                        li 345
                                        li 12
                                        li 985
                                    .recomendation-item_header Счастливый принц и другие сказки
                                    .recomendation-item_content Обучение по программе МВА – дорогостоящее удовольствие и не всегда оправданное вложение средств. Даже самые престижные бизнес-школы, вроде Гарвардской или Уортонской, предлагают Обучение по программе МВА – дорогостоящее удовольствие и не всегда оправданное вложение средств. Даже самые престижные бизнес-школы, вроде Гарвардской или Уортонской, предлагают

                    .carousel-item
                        .carousel-item_box
                            .recomendation-item
                                include ./card_item.pug
                                .recomendation-item_data
                                    ul.recomendation-item_values
                                        li 345
                                        li 12
                                        li 985
                                    .recomendation-item_header Счастливый принц и другие сказки
                                    .recomendation-item_content Обучение по программе МВА – дорогостоящее удовольствие и не всегда оправданное вложение средств. Даже самые престижные бизнес-школы, вроде Гарвардской или Уортонской, предлагают Обучение по программе МВА – дорогостоящее удовольствие и не всегда оправданное вложение средств. Даже самые престижные бизнес-школы, вроде Гарвардской или Уортонской, предлагают
                            .recomendation-item
                                include ./card_item.pug
                                .recomendation-item_data
                                    ul.recomendation-item_values
                                        li 345
                                        li 12
                                        li 985
                                    .recomendation-item_header Счастливый принц и другие сказки
                                    .recomendation-item_content Обучение по программе МВА – дорогостоящее удовольствие и не всегда оправданное вложение средств. Даже самые престижные бизнес-школы, вроде Гарвардской или Уортонской, предлагают Обучение по программе МВА – дорогостоящее удовольствие и не всегда оправданное вложение средств. Даже самые престижные бизнес-школы, вроде Гарвардской или Уортонской, предлагают

            //- .recomendation-list_item
            //-     include ./card_item.pug
                