.review-item
    .review-item_card
        include ./card_item.pug
        .review-item_card-data
            ul.recomendation-item_values
                li 345
                li 66
            .book_item-author
                a(href="") Оскар Уайлд
                .book_item-name Лидер и племя. Пять уровней корпоративной культуры
    include ./comment.pug