.search-win
    .search-win_box
        form
            .search-win_top
                button.search-win_close-btn
                .search-win_top-inp
                    input(type="text")
                    button.clear-text_btn
            .scrollbar-inner
                .search-results
                    ul.search-result_list-authors
                        li.result_list.author
                            .search-res_img.author
                            .search-res_contetnt
                                .search-res_content-name
                                    span.res_content-title Джордж Оруэлл
                                .search-res_content-rate
                                    .rate-box 8.9
                                    .rate-counter 45 оценок книг
                        li.result_list.author
                            .search-res_img.author
                            .search-res_contetnt
                                .search-res_content-name
                                    span.res_content-title Джордж Оруэлл
                                .search-res_content-rate
                                    .rate-box 8.9
                                    .rate-counter 45 оценок книг
                    ul.search-result_list-books
                        li.result_list.book
                            .search-res_img.book
                            .search-res_contetnt
                                .search-res_content-name
                                    span.res_content-title Джордж Оруэлл Джордж
                                    span.res_content-author Лев Толстой
                                .search-res_content-rate
                                    .rate-box 8.9
                                    .rate-counter 45 оценок
                        li.result_list.book
                            .search-res_img.book
                            .search-res_contetnt
                                .search-res_content-name
                                    span.res_content-title Джордж Оруэлл Джордж
                                    span.res_content-author Лев Толстой
                                .search-res_content-rate
                                    .rate-box 8.9
                                    .rate-counter 45 оценок
                        li.result_list.book
                            .search-res_img.book
                            .search-res_contetnt
                                .search-res_content-name
                                    span.res_content-title Джордж Оруэлл Джордж
                                    span.res_content-author Лев Толстой
                                .search-res_content-rate
                                    .rate-box 8.9
                                    .rate-counter 45 оценок
                        li.result_list.book
                            .search-res_img.book
                            .search-res_contetnt
                                .search-res_content-name
                                    span.res_content-title Джордж Оруэлл Джордж
                                    span.res_content-author Лев Толстой
                                .search-res_content-rate
                                    .rate-box 8.9
                                    .rate-counter 45 оценок
                        li.result_list.book
                            .search-res_img.book
                            .search-res_contetnt
                                .search-res_content-name
                                    span.res_content-title Джордж Оруэлл Джордж
                                    span.res_content-author Лев Толстой
                                .search-res_content-rate
                                    .rate-box 8.9
                                    .rate-counter 45 оценок
                        li.result_list.book
                            .search-res_img.book
                            .search-res_contetnt
                                .search-res_content-name
                                    span.res_content-title Джордж Оруэлл Джордж
                                    span.res_content-author Лев Толстой
                                .search-res_content-rate
                                    .rate-box 8.9
                                    .rate-counter 45 оценок
                        li.result_list.book
                            .search-res_img.book
                            .search-res_contetnt
                                .search-res_content-name
                                    span.res_content-title Джордж Оруэлл Джордж
                                    span.res_content-author Лев Толстой
                                .search-res_content-rate
                                    .rate-box 8.9
                                    .rate-counter 45 оценок
                        li.result_list.book
                            .search-res_img.book
                            .search-res_contetnt
                                .search-res_content-name
                                    span.res_content-title Джордж Оруэлл Джордж
                                    span.res_content-author Лев Толстой
                                .search-res_content-rate
                                    .rate-box 8.9
                                    .rate-counter 45 оценок
        a(href="").all-results_link Все результаты