footer
    .box
        nav.header-nav
            ul
                li
                    a(href="") Что читают
                li
                    a(href="" class='active') Жанры
                li
                    a(href="") Авторы
                li
                    a(href="") Мои книги

    section.footer
        .box
            .footer-content
                .footer-header
                    a.logo(href="")
                        img(src="./img/main-logo.svg", alt="")
                    .footer-tagline Книги, которые вы полюбите
                    .footer-tip Читайте, ставьте оценки и делитесь с друзьями
                    button.footer-reg_btn Зарегистрироваться
                .footer-main
                    
                    #accordionExample.accordion
                        .card.compilation
                            #headingOne.card-header
                                h5.mb-0
                                    button.accordion-opener(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                        span Подборки
                                        span.accordion-icon
                                            span
                                            span
                            #collapseOne.collapse(aria-labelledby='headingOne', data-parent='#accordionExample')
                                .card-body
                                    ul.footer-list
                                        li
                                            a(href="#") О проекте
                                        li
                                            a(href="#") Условия использования
                                        li
                                            a(href="#") Помощь и контакты
                                        li
                                            a(href="#") Согласие на получение рассылок
                                        li
                                            a(href="#") О проекте
                                        li
                                            a(href="#") Условия использования
                                        li
                                            a(href="#") Помощь и контакты
                                        li
                                            a(href="#") Согласие на получение рассылок
                                        li
                                            a(href="#") О проекте
                                        li
                                            a(href="#") Условия использования
                                        li
                                            a(href="#") Помощь и контакты
                                        li
                                            a(href="#") Согласие на получение рассылок
                                        li
                                            a(href="#") О проекте
                                        li
                                            a(href="#") Условия использования
                                        li
                                            a(href="#") Помощь и контакты
                                        li
                                            a(href="#") Согласие на получение рассылок

                        .card
                            #headingTwo.card-header
                                h5.mb-0
                                    button.accordion-opener(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='true', aria-controls='collapseTwo')
                                        span Популярные полки
                                        span.accordion-icon
                                            span
                                            span
                            #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
                                .card-body
                                    ul.footer-list
                                        li
                                            a(href="#") О проекте
                                        li
                                            a(href="#") Условия использования
                                        li
                                            a(href="#") Помощь и контакты
                                        li
                                            a(href="#") Согласие на получение рассылок

                        .card
                            #headingThree.card-header
                                h5.mb-0
                                    button.accordion-opener(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='true', aria-controls='collapseThree')
                                        span О компании
                                        span.accordion-icon
                                            span
                                            span
                            #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                                .card-body
                                    ul.footer-list
                                        li
                                            a(href="#") О проекте
                                        li
                                            a(href="#") Условия использования
                                        li
                                            a(href="#") Помощь и контакты
                                        li
                                            a(href="#") Согласие на получение рассылок
            .footer-copy
                ul
                    li
                        a(href="") © Knigigid 2019
                    li
                        a(href="") Карта сайта
                    li
                        a(href="") Жалобы
                    li
                        a(href="") Конфиденциальность пользователя
                    li
                        a(href="") Правообладателям
                    li
                        a(href="") Помогите нам стать лучше <span>info@knigogid.ru</span>

