.err-page_box{
    display: flex;
    flex-direction: column;
    padding: 0 8px;
}

.err-page_img{
    text-align: center;
    padding: 32px 0 21px;
    img{
        width: 207px;
    }
}

.err-page_content{
    text-align: center;
    margin-bottom: 100px;
}

.err-page_title{
    font-size: 18px;
    font-family: $p_bold;
    line-height: 1.33;
    color: $base-text-color;
    margin-bottom: 16px;
}

.err-page_tip{
    color: #4a4a4a;
    margin-bottom: 30px;
    line-height: 1.5;
}

.to-main_link{
    @include btn-colored;
    display: inline-block;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 4px 14px 0 rgba(75, 76, 78, 0.31);
}

@media screen and (min-width: 768px) {
    .err-page_img{
        padding: 50px 0 41px;
        img{
            width: 402px;
        }
    }

    .err-page_content{
        width: 450px;
        margin: 0 auto 50px;
    }

    .err-page_title{
        font-size: 36px;
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .err-page_img{
        padding: 50px 0 41px;
        img{
            width: 491px;
        }
    }

    .err-page_box{
        flex-direction: row;
        align-items: center;
        width: 1024px;
        margin: 90px auto 140px;
    }

    .err-page_tip{
        margin-bottom: 40px;
    }
}