.authors{
    padding: 0 12px;
}

.authors-header{
    font-size: 18px;
    font-family: $p_semi;
    color: $base-text-color;
    margin-bottom: 21px;
    display: flex;
    align-items: center;
}

.authors-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 53px;
}

.authors-item{
    width: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2px;
    margin-bottom: 16px;
    text-align: center;
}

.authors-item_name{
    color: $base-text-color;
    font-family: $p_semi;
    line-height: 1.21;
}

.authors-item_rate{
    font-size: 12px;
    .rate-value{
        font-family: $p_bold;
        margin-right: 21px;
        position: relative;
        &:after{
            position: absolute;
            content: '';
            width: 14px;
            height: 14px;
            background: url(../img/icons/star.svg) no-repeat;
            background-size: cover;
            right: -17px;
            top: 0;
        }
    }
    .book-couter{
        color: #7f8fa4;
    }
}

.authors-item_img{
    width: 74px;
    height: 74px;
    margin-bottom: 8px;
    border-radius: 8px;
    overflow: hidden;
    background: #000;
    background: url(https://pp.userapi.com/ERV42GvPvuVpr9MeGtRHd02vaXnf9gaezOQzfA/g4CUwXojRLU.jpg) no-repeat;
    background-size: cover;
}

.another-authors_link{
    display: none;
    font-size: 10px;
    font-family: $p_bold;
    padding: 0 8px;
    line-height: 1.9;
    background: #c5d0de;
    text-transform: uppercase;
    border-radius: 4px;
    color: #fff;
    margin-left: 16px;
    &:hover{
        text-decoration: none;
        color: #fff;
    }
}

.alphabet-list{
    list-style: none;
    display: none;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 24px;
    li{
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-family: $p_semi;
            color: $base-btn-color;
            text-transform: uppercase;
            width: 32px;
            height: 29px;
        }
        .all-authors_link{
            color: $base-text-color;
            padding: 0 11px;
            font-size: 14px;
            border-radius: 15px;
            border: 2px solid $base-text-color;
            width: auto;
            text-transform: none;
            &:hover{
                background: #dfe1e5;
                text-decoration: none;
            }
        }
    }
}

.letter-list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    li{
        width: 50%;
        margin-bottom: 8px;
        a{
            font-family: $p_semi;
            line-height: 1.5;
            color: $base-text-color;
        }
        span{
            pointer-events: none;
            color: #7f8fa4;
            font-size: 14px;
            display: inline-block;
            margin-left: 18px;
        }
    }
}

.letter-item_header{
    font-size: 26px;
    font-family: $p_semi;
    color: $base-text-color;
    line-height: 1.38;
    display: flex;
    align-items: center;
    .all-authors_link{
        font-size: 10px;
        display: inline-block;
        padding: 0 8px;
        text-transform: uppercase;
        font-family: $p_bold;
        line-height: 1.9;
        color: #fff;
        background: #c5d0de;
        border-radius: 4px;
        margin-left: 8px;
    }
}

.authors-letter_item{
    display: none;
}

.last-requests{
    display: none;
    align-items: center;
}

.request-list{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    &:after{
        position: absolute;
        content: '';
        height: 100%;
        width: 50px;
        background: linear-gradient(to right, rgba(255,255,255,0), #fff);
        top: 0;
        right: 0;
    }
    li{
        display: flex;
        flex-wrap: nowrap;
        width: 50%;
        transform: translateX(0);
        a{
            display: inline-block;
            margin-right: 40px;
            font-size: 12px;
            color: #7ac6ff;
            width: 33.33333%;
            white-space: nowrap;
        }
    }
}

.more-request_items{
    font-size: 12px;
    font-family: $p_semi;
    color: #a3a5b1;
    display: inline-block;
    padding: 0 11px;
    border: 1px solid #a3a5b1;
    border-radius: 4px;
    &:hover{
        background: #a3a5b1;
        color: #fff;
        text-decoration: none;
    }
}

@media screen and (min-width: 768px) {
    .authors-search{
        margin: 36px 0 14px;
    }

    .authors{
        padding: 0 37px;
        .genres-search{
            margin-left: 0;
        }
    }

    .alphabet-list{
        display: flex;
    }

    .authors-list{
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: flex-start;
    }

    .authors-item{
        min-width: 120px;
    }

    .authors-header{
        font-size: 22px;
        margin-bottom: 24px;
    }

    .another-authors_link{
        display: inline-block;
    }
    .authors-item_name{
        line-height: 1.5;
    }
    
    .authors-letter_item{
        display: block;
    }

    .last-requests{
        display: flex;
    }
    .authors-box{
        margin-top: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .authors-list{
        overflow: visible;
        justify-content: space-around;
    }
    
    .authors{
        max-width: 1200px;
        padding: 0;
        margin: 0 auto;
    }

    .letter-list{
        li{
            width: 33.33333%;
        }
    }
}