.compilation-section_header{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    // margin-bottom: 12px;
}

.compilation-section{
    padding-top: 24px;
}

.compilation-title{
    font-family: $p_semi;
    color: $base-text-color;
    font-size: 18px;
    margin-right: 24px;
    margin-bottom: 0;
} 

.compilation-link_all{
    font-size: 10px;
    color: #fff;
    line-height: 1.9;
    font-family: $p_semi;
    padding: 0 11px;
    border-radius: 4px;
    background: #516173;
    padding-top: 1px;
    text-transform: uppercase;
    &:hover{
        color: #fff;
        text-decoration: none;
    }
}

.compilation-section_list{
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-bottom: 20px;
    justify-content: flex-start;
    // overflow: visible;
    // overflow-x: scroll;
}

@media screen and (min-width: 768px) {
    .compilation-title{
        font-size: 22px;
        margin-right: 16px;
    }
    .compilation-section_list{
        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px) {
    .compilation-title{
        font-size: 22px;
        margin-right: 16px;
    }
    .compilation-section_list{
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    
    .compilation-section_list{
        overflow: visible;
    }


    .compilation-section{
    
        .scroll-wrapper{
            overflow: visible!important;
        }

        .scroll-wrapper > .scroll-content{
            overflow: visible!important;
        }

        .scrollbar-inner > .scroll-element.scroll-y{
            display: none;
        }
    }

    .compilation-title{
        font-size: 26px;
        margin-right: 16px;
    }
}