.crumbs-box{
    position: sticky;
    top: 40px;
    background: #fff;
    z-index: 10;
}

.crumbs{
    padding: 12px;
    max-width: 1115px;
    margin: 0 auto;
    ul{
        display: flex;
        li{
            a{
                font-family: $p_semi;
                line-height: 1.5;
                display: inline-block;
                position: relative;
                color: $base-btn-color;
                margin-right: 28px;
                &:after{
                    position: absolute;
                    content: '';
                    width: 8px;
                    height: 8px;
                    top: calc(50% - 4px);
                    right: -20px;
                    border: 4px solid transparent;
                    border-left: 8px solid #7f8fa4;
                }
                &.actual-page{
                    pointer-events: none;
                    color: #7f8fa4;
                    font-family: $p_reg;
                    &:after{
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .crumbs{
        margin: 32px auto 16px;
        padding: 0 40px;
    }
}

@media screen and (min-width: 1200px) {
    .crumbs{
        padding: 12px 0;
    }
}