@font-face {
    font-family: proxima_regular; 
    src: url(../fonts/ProximaNova-Regular.ttf); 
}
@font-face {
    font-family: proxima_bold; 
    src: url(../fonts/ProximaNova-Bold.ttf); 
}
@font-face {
    font-family: proxima_semibold; 
    src: url(../fonts/ProximaNova-Semibold.ttf); 
}
@font-face {
    font-family: proxima_light; 
    src: url(../fonts/ProximaNova-Light); 
}
@font-face {
    font-family: proxima_extrabold; 
    src: url(../fonts/ProximaNova-Extrabld.ttf); 
}

@font-face {
    font-family: AdelleCyrillic; 
    src: url(../fonts/AdelleCyrillic-Light.ttf); 
}

@font-face {
    font-family: Roboto; 
    src: url(../fonts/Roboto-Regular.ttf); 
}