.header-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px 12px 0;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    transition: .3s;
    .logo {
        img {
            width: 125px;
            transition: .3s;
        }
    }

    &.blur-bg{
        filter: blur(3px);
    }

    .header-user_block{
        display: none;
    }

    &.scrolled{
        padding: 12px 12px 0 12px;
    }
}

.header-container{
    &.fixed{
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 11;
        width: 100%;
    }
}

.header-user{
    margin-left: 24px;
}

.header-notice{
    position: relative;
    width: 19px;
    height: 19px;
    background: url(../img/icons/bell.svg) no-repeat;
    background-size: 15px;
    background-position: 0 0;
    margin-left: 24px;
    cursor: pointer;
    &:hover{
        background-position: 0 -42.5px;
    }
    &:active{
        background-position: 0 -83px;
    }
    &.new-notice{
        position: relative;
        &:after{
            position: absolute;
            content: '';
            width: 6px;
            height: 6px;
            top: 0;
            right: 0;
            background: #1991eb;
            box-shadow: 0 0 4px 0 rgb(25, 145, 235);
            border-radius: 50%;
        }
    }
}

.header-user_avatar{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: url(https://st4.cannypic.com/thumbs/15/158423_632_canny_pic.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.header-box.registered{
    .registration-btn,
    .sign-btn{
        display: none;
    }

    .header-user_block{
        display: flex;
        align-items: center;
    }
}

.header-user{
    position: relative;
}

.dropdown-block{
    position: fixed;
    
    bottom: 0;
    right: 0;
    width: 100%;
    color: $base-text-color;
    line-height: 1.5;
    z-index: 5;
    background: #fff;
    font-family: $p_semi;
    display: none;
    .dropdown-block_item{
        border: 1px solid rgb(238, 238, 238);
        a{
            display: inline-block;
            width: 100%;
            padding: 8px 13px;
            text-decoration: none;
            &:hover{
                color: #2ea2f8;
                background: #f1f4f8;
            }
        }
    }
}

.header-search_btn-mobile{
    width: 16px;
    height: 16px;
    background: url(../img/icons/search.svg) no-repeat;
    cursor: pointer;
}

.header-login {
    display: flex;
}

.wrapper.start{
    .header-nav:after{
        display: none;
    }
}

.header-nav {
    width: 100%;
    margin-top: 12px;
    padding: 11px 0;
    position: relative;
    z-index: 2;
    transition: .3s;
    &:after{
        position: absolute;
        content: '';
        width: calc(100% + 24px);
        height: 100%;
        background: #f9f8f8;
        top: 0;
        left: -12px;
        z-index: -1;
    }

    ul {
        display: flex;
        justify-content: space-between;

        li {
            a {
                font-family: $p_semi;
                line-height: 1.75;
                font-size: 12px;
                text-decoration: none;
                color: #7f8fa4;
            }
            &.active{
                position: relative;
                a{
                    color: $base-text-color
                }
                &:after{
                    content: '';
                    position: absolute;
                    height: 4px;
                    width: 100%;
                    background: $base-text-color;
                    bottom: -9px;
                    left: 0;
                    border-radius: 3px;
                }
            }
        }
    }

    &.hid{
        visibility: hidden;
        opacity: 0;
        height: 0;
        margin: 0;
        padding: 0;
        transition: .3s;
    }
}

.sign-btn {
    color: $base-btn-color;
    background: transparent;
    border: 0;
    font-family: $p_semi;
    font-size: 14px;
}

.header-search {
    width: 100%;
    position: relative;
    margin-top: 8px;
    display: none;
    input {
        width: 100%;
        font-size: 12px;
        padding: 8px 12px;
        border-radius: 4px;
        border: 1px solid #dfe3e9;
    }
}

.header-search_btn {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 8px;
    top: calc(50% - 8px);
    background: url(../img/icons/search.svg) no-repeat;
    background-size: contain;
    border: 0;
    outline: 0;
}

.registration-btn {
    display: none;
}

.notice-box{
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    padding: 16px;
    cursor: default;
    background: #fff;
    border-radius: 4px;
    box-shadow: 5px 7px 21px 10px rgba(0, 0, 0, 0.08);
    border: solid 1px rgb(223, 227, 233);
    z-index: 5;
    display: none;
}

.notice-item{
    display: flex;
    margin-bottom: 16px;
    position: relative;
    cursor: default;
    .user-avatar{
        width: 34px;
        height: 34px;
        box-shadow: 0 0 8px 0 rgba(26, 61, 82, 0.18);
        border-radius: 50%;
        background: url(https://st4.cannypic.com/thumbs/15/158423_632_canny_pic.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    &.new{
        &:after{
            position: absolute;
            content: '';
            width: 6px;
            height: 6px;
            background: $base-btn-color;
            right: 0px;
            top: 11px;
            border-radius: 50%;
        }
    }
}

.notice-item.system{
    padding: 12px 0 16px;
    border-top: 1px solid #eaeef3;
    border-bottom: 1px solid #eaeef3;
    flex-direction: column;
    margin-bottom: 16px;
}

.notice-item.old{
    .notice-item_content{
        color: #a3a5b1;
        font-family: $p_reg;
    }
    a{
        color: $base-text-color;
    }
}

.sys-notice_title{
    font-size: 16px;
    font-family: $p_semi;
    line-height: 1.38;
    color: $base-text-color;
    margin-bottom: 5px;
}

.sys-notice_tip{
    font-size: 12px;
    color: #a3a5b1;
    line-height: 1.25;
    margin-bottom: 12px;
}

.sys-notice_form{
    display: flex;
    input{
        border: 1px solid #dfe3e9;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-right: 0;
        padding-left: 8px;
        flex: 3;
    }

    button{
        @include btn-colored;
        padding: 7px 0;
        flex: 2;
        margin-left: -3px;
    }
}

.notice-item_destination{
    margin-right: 11px;
}

.notice-item_content{
    font-size: 12px;
    font-family: $p_semi;
    line-height: 1.25;
    overflow: hidden;
    position: relative;
    max-width: 210px;
    a{
        color: $base-btn-color;
        font-family: $p_bold;
    }
}

.content-avatar{
    width: 34px;
    height: 54px;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(26, 61, 82, 0.18);
    background: url(https://avatars.mds.yandex.net/get-pdb/224945/f358b199-97c2-45f4-a565-433a62935ec6/s375) no-repeat;
    background-size: cover;
}

.notice-message{
    color: #a3a5b1;
    font-family: $p_reg;
    font-size: 12px;
    a{
        font-family: $p_bold;
        color: $base-text-color;
    }
}

.all-notices_btn{
    color: $base-btn-color;
    background: transparent;
    border: 0;
    font-family: $p_semi;
    line-height: 1.75;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 400px) {
    .header-user_block{
        position: relative;
    }

    .header-notice{
        position: unset;
    }
}

@media screen and (min-width: 768px) {
    .header-nav {
        width: auto;
        order: -1;
        margin: 0;
        padding: 0;
        background: transparent;
        &:after{
            display: none;
        }
        ul{
            li {
                margin: 0 21px;
                &.active:after{
                    bottom: -13px;
                }
            }
        }

        a {
            font-family: $p_semi;
            line-height: 1.75;
            font-size: 12px;
        }

        &.hid{
            height: auto;
            visibility: visible;
            opacity: 1;
        }
    }

    .logo {
        order: -1;
    }

    .header-search {
        margin-top: 26px;
    }

    .header-box {
        padding: 26px 37px 26px;
        &.scrolled{
            padding: 12px 37px;
            border-bottom: 1px solid lightgray;
        }
    }

    .dropdown-block{
        position: absolute;
        top: calc(100% + 10px);
        width: 123px;
        transition: .2s;
        .dropdown-block_item{
            a{
                background: #fff;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .header-box {
        padding: 29px 27px 0;

        .logo {
            img {
                width: 185px;
            }
        }

        &.scrolled {
            padding: 5px 37px;
            .logo {
                img {
                    width: 149px;
                }
            }
        }
    }

    .sign-btn {
        @include btn-neutral;
        font-size: 12px;
        padding: 9px 10px;
    }

    .registration-btn {
        @include btn-colored;
        margin-right: 8px;
        font-size: 12px;
        padding: 9px 10px;
        display: inline-block;
    }

    .header-nav {
        display: flex;
        flex: auto;
        justify-content: center;
        ul {
            li {
                a {
                    font-size: 14px;
                }
            }
        }
    }

    .header-search {
        margin: 0;
        margin-left: auto;
        margin-right: 8px;
        width: auto;
        order: -1;

        input {
            width: 0;
            border: 1px solid transparent;
            transition: .2s;
            padding: 9px 25px 9px 9px;

            &.open {
                width: 180px;
                border: 1px solid #dfe3e9;
            }
        }
    }

    .header-search_btn-mobile{
        display: none;
    }

    .header-user{
        margin-left: 64px;
        position: relative;
        &:after{
            content: '';
            position: absolute;
            height: 100%;
            width: 1px;
            background: lightgray;
            bottom: 0;
            left: -32px;
        }
    }

    .header-notice{
        margin-left: 16px;
    }

    .header-user_avatar{
        width: 34px;
        height: 34px;
    }
}




@media screen and (min-width: 1350px) {
    .header-nav{
        margin-left: 80px;
        li{
            margin: 0 32px;
        }
    }

    .sign-btn,
    .registration-btn{
        padding: 7px 27px;
        font-size: 14px;
    }

    .header-search{
        input{
            &.open{
                width: 235px;
            }
        }
    }
}