.reg-modal{
    .modal-dialog{
        width: 320px;
        margin: 0 auto;
    }
    .modal-body{
        padding: 0;
    }
}

.reg-modal_header{
    padding: 67px 0;
    text-align: center;
    position: relative;
    button.close{
        position: absolute;
        top: 8px;
        right: 8px;
        z-index: 10;
        span{
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url(../img/icons/close.svg) no-repeat;
            background-size: cover;
        }
    }
}

.reg-modal_content{
    padding: 0 35px 32px 35px;
}

.action-list{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: $base-text-color;

    .login-item.active,
    .registration-item.active{
        border-bottom: 3px solid $base-btn-color;
        font-family: $p_bold;
    }

    .login-item{
        position: relative;
        &:after{
            content: '';
            position: absolute;
            width: 2px;
            height: 12px;
            right: -20px;
            top: 5px;
            background: $base-text-color;
        }
    }
}

.reg-modal_form{
    margin-top: 16px;
    text-align: center;
    label{
        margin-bottom: -5px;
        width: 100%;
    }

    .submit{
        @include btn-gradient;
        width: 100%;
        box-shadow: 2px 4px 14px 0 rgba(74, 74, 74, 0.28);
        padding: 8px 0;
    }

    .sep{
        margin: 10px 0;
        color: #9b9b9b;
        line-height: 1.5;
        text-align: center;
    }
}

.reg-modal_btns{
    padding: 0 5px;
    margin-bottom: 19px;
    button{
        display: inline-block;
        width: 100%;
        color: #fff;
        border: 0;
        border-radius: 4px;
        padding: 9px 0;
        margin-bottom: 4px;
        font-family: $p_semi;
        padding-left: 30px;
        box-shadow: 2px 4px 14px 0 rgba(74, 74, 74, 0.28);
    }
}

.fb-reg{
    background-color: #3b5998;
    background-image: url(../img/icons/fb.svg);
    background-repeat: no-repeat;
    background-size: 30px 20px;
    background-position: 10px center;
}

.vk-reg{
    background-color: #5181b8;
    background-image: url(../img/icons/vk.svg);
    background-repeat: no-repeat;
    background-size: 22px 13px;
    background-position: 15px center;
}

.agreement-tip{
    font-size: 10px;
    text-align: center;
    a{
        font-family: $p_bold;
        color: $base-text-color;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
            color: $base-btn-color;
        }
    }
}


.form-item {
	position: relative;
	input {
		padding: 4px 8px;
        border: 0;
        border-bottom: 1px solid #dfe1e5;
        width: 100%;
        margin-bottom: 24px;
        outline: 0;
	
		&::-webkit-input-placeholder {
            color: #7f8fa4;
            font-size: 12px;
		}
		&:focus{
            outline: none;
            background: rgba(122, 198, 255, 0.09);
            border-color: transparent;
                &::-webkit-input-placeholder{
                    color: transparent;
                }
                &::-moz-placeholder{
                    color: transparent;
                }
            }
        }
        


	span {
		position: absolute;
		top: 10px;
		left: 8px;
		font-size: 10px;
		opacity: 0;
		transition: .3s;
	
		&.visible{
			top: -13px;
			left: 0;
			opacity: 1;
		}
    }
    
    textarea{
        width: 100%;
        height: 106px;
        resize: vertical;
        border: 1px solid #dfe3e9;
        padding: 8px 12px;
    }
}

.reset-pass{
	display: block;
	text-align: center;
	font-size: 10px;
	font-family: $p_semi;
	color: $base-text-color;
    margin: -10px 0 13px;
    text-decoration: underline;
    &:hover{
        text-decoration: none;
    }
}

.form-item{
    position: relative;
    &.valid{
        &:after{
            content: '';
            position: absolute;
            top: 39px;
            right: 42px;
            width: 7px;
            height: 7px;
            background: url(../img/icons/valid.svg) no-repeat;
        }
        input{
            border-bottom: 1px solid #78cd84;
        }
    }
    &.invalid{
        input{
            border-bottom: 1px solid #f85359;
        }
        &:after{
            content: '';
            position: absolute;
            top: 37px;
            right: 42px;
            width: 13px;
            height: 13px;
            background: url(../img/icons/invalid.svg) no-repeat;
        }
    }
}

.show-pass{
    position: absolute;
    cursor: pointer;
    top: 3px;
    right: 28px;
    width: 16px;
    height: 16px;
    opacity: .5;
    &.show{
        opacity: 1;
    }
}

.optional{
    position: absolute;
    right: 0;
    top: -13px;
    font-size: 10px;
    color: #9b9b9b;
}

.availability-acc{
    display: block;
    text-align: center;
    color: $base-btn-color;
    margin-bottom: 16px;
    text-decoration: underline;
    font-family: $p_semi;
    &.not{
        color: #9b9b9b;
    }
    &:hover{
        text-decoration: none;
    }
}

.check-email{
    text-align: center;
    padding: 108px 0 163px;
}

.check-email_header{
    font-size: 12px;
    color: #4a4a4a;
    font-family: $p_semi;
    line-height: 1.75;
    margin-bottom: 4px;
}

.check-email_content{
    line-height: 1.45;
    font-size: 22px;
    font-family: $p_semi;
    color: $base-btn-color;
}

.reset-pass_modal{
    margin-bottom: 150px;
    input{
        font-size: 14px;
    }
}

.reset-pass_modal_tip{
    font-size: 12px;
    font-family: $p_semi;
    line-height: 1.75;
    color: $base-text-color;
    margin-top: 32px;
}

// user help modal

.user-help-modal{
    .modal-dialog{
        width: 100%;
        margin: 0 auto;
        max-width: 100%;
    }
    .modal-body{
        padding: 0;
    }

    .reg-modal_header{
        padding: 0;
    }

    .modal-content{
        background: #f9f8f8;
    }
}

.user-help_steps{
    display: flex;
    width: 80px;
    justify-content: space-between;
    margin: 27px auto 0px;
    li{
        width: 8px;
        height: 8px;
        background:#9b9b9b;
        border-radius: 50%;
        &.fill{
            background:#1991eb;
            box-shadow: 0 0 10px 1px rgb(122, 198, 255);
        }
    }
}

.upload-avatar{
    width: 170px;
    height: 170px;
    margin: 0 auto;
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;

    &:hover{
        span{
            box-shadow: 0 0 5px 0 rgb(25, 145, 235);
        }
    }
    input{
        display: none;
    }

    label{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background: lightgray;
        text-align: center;
        cursor: pointer;
        background-image: url(https://cdn.dribbble.com/users/2399278/screenshots/5323617/peter_griffin.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        box-shadow: 4px 5px 32px 0 rgba(75, 76, 78, 0.31);
        img{
            width: inherit;
        }
    }

    span{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 45px;
        height: 45px;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        background: url(../img/icons/camera.svg) no-repeat;
    }
}

.step-item_header{
    color: $base-btn-color;
    text-align: center;
    font-family: $adelle;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.38;
    max-width: 320px;
    margin: 0 auto 28px;
}

.step-item_tip{
    max-width: 250px;
    margin: 0 auto 40px;
    text-align: center;
    font-size: 18px;
    line-height: 1.33;
    color: $base-text-color;
}


.step-item_btn{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.next-step_btn{
    @include btn-gradient;
    padding: 7px 0;
    display: inline-block;
    width: 164px;
    margin-bottom: 28px;
}

.cancel-step_link{
    color: #9b9b9b;
    margin-bottom: 18px;
    text-decoration: underline;
    &:hover{
        text-decoration: none;
    }
}

.step-item_two{
    padding: 0 15px;
    .step-item_header{
        margin: 50px auto 30px;

    }

    .form-item{
        width: 246px;
        margin: 0 auto;
        input[type="text"],
        input[type="date"]{
            background: #f9f8f8;
            border-bottom: 1px solid #dfe1e5;
            &:focus{
                background: rgba(122, 198, 255, 0.09);
                border-color: transparent;
            }
        }
    }

    .next-step_btn{
        width: 246px;
    }
}

.radioblock-tip{
    display: block;
    font-size: 10px;
    padding-left: 27px;
}

.radio-block{
    width: 246px;
    margin: 0 auto 27px;
    input{
        display: none;
    }

    label{
        cursor: pointer;
        .radioblock-text{
            position: relative;
            display: inline-block;
            padding-left: 20px;
            margin-right: 18px;
            &:before{
                content: '';
                position: absolute;
                left: 0;
                top: 2px;
                width: 16px;
                height: 16px;
                border: 1px solid lightgray;
                background: transparent;
                border-radius: 50%;
            }
            &:after{
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                top: 7px;
                left: 5px;
                background: #fff;
                display: none;
                border-radius: 50%;
            }
        }
    }

    input:checked + .radioblock-text:before{
        background: $base-btn-color;
        border-color: transparent
    }
    input:checked + .radioblock-text:after{
        display: block;
    }
}

.step-item_arealabel{
    color: #7f8fa4;
    opacity: .9;
    font-family: $p_semi;
    line-height: 1.5;
    margin-bottom: 4px;
}

.step-item_area{
    margin-bottom: 32px;
    border-radius: 4px;
    &:focus{
        border: 1px solid #2ea2f8;
    }
}

.step-item_three{
    padding: 0 15px;
    .step-item_header{
        margin-top: 22px;
    }

    .next-step_btn{
        margin-bottom: 8px;
    }
}

.step-item_collection{
    height: 450px;
    // overflow-y: scroll;

    .card-select_item{
        display: block;
    }
}

.step-item_collection_box{
    position: relative;
    &:before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 5;
        width: 100%;
        height: 150px;
        background: linear-gradient(to bottom, transparent 5%, #f9f8f8 90%);
    }
}

.step-item_collection_tip{
    text-align: center;
    font-family: $p_semi;
    line-height: 1.5;
    color: #4e2ace;
    margin: 8px 0;
}

.topbg{
    height: 150px;
    background: url(../img/modal-bg.png) no-repeat;
    background-size: cover;
}
.bottombg{
    height: 150px;
    background: url(../img/modal-bg-bottom.png) no-repeat;
    background-size: cover;
}

.step-item_four-content{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 1.56;
    text-align: center;
    padding: 55px;
    background: #f8f9f9;
    border-radius: 50%;
    position: relative;
    border: 14px solid #1e5799;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.5);
}

.steps{
    .step-item_four,
    .step-item_two,
    .step-item_three{
        display: none;
    }
}

// share book

.share-book_modal{
    .reg-modal_header{
        padding: 0;
    }
    .modal-dialog{
        max-width: 600px;
    }
}

.share-book_title{
    font-size: 26px;
    color: $base-text-color;
    font-family: $p_semi;
    line-height: 1.38;
    margin: 56px 0 32px;
}

.social-list{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    margin-bottom: 32px;
    margin-top: -1rem;
    li{
        a{
            display: inline-block;
            margin: 0 3px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-size: cover;
            &.vk{
                background: url(../img/icons/social/1.svg) no-repeat;
            }
            &.fb{
                background: url(../img/icons/social/2.svg) no-repeat;
            }
            &.twit{
                background: url(../img/icons/social/3.svg) no-repeat;
            }
            &.ok{
                background: url(../img/icons/social/4.svg) no-repeat;
            }
            &.pint{
                background: url(../img/icons/social/5.svg) no-repeat;
            }
            &.mail{
                background: url(../img/icons/social/6.svg) no-repeat;
            }
        }
    }
}

.copy-link{
    display: flex;
    flex-direction: column;
    margin-bottom: 66px;
    .copy-link_btn{
        white-space: nowrap;
        @include btn-colored;
        padding: 0;
        font-family: $p_reg;
        padding: 7px 18px;
        margin-left: -10px;
    }

    .link-content{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border: 1px solid #dfe3e9;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
        padding: 7px 12px;
    }
}


// feedback modal

.feedback_modal{
    .reg-modal_header{
        padding: 56px 12px 0 12px;
    }
    .modal-content{
        background: #f9f8f8;
    }
    .modal-dialog{
        max-width: 600px;
    }

    .form-item{
        &.valid{
            input, textarea{
                border: 1px solid #78cd84;
            }
        }
        &.invalid{
            input, textarea{
                border: 1px solid #f85359;
            }
        }
    }
}

.feedback_modal-title{
    font-size: 26px;
    font-family: $p_semi;
    line-height: 1.38;
    color: $base-text-color;
    p{
        line-height: 1.5;
        font-size: 14px;
        margin-top: 4px;
        font-family: $p_reg;
    }
}

.feedback_modal-form{
    margin: 0 auto;
    max-width: 400px;
    label{
        font-size: 12px;
        color: $base-text-color;
        font-family: $p_semi;
        margin-bottom: 4px;
    }
    input, textarea{
        background: #fff;
        padding: 8px;
        border: 1px solid #dfe3e9;
        border-radius: 4px;
        &:focus{
            background: #fff;
            border: 1px solid #2ea2f8;
        }
    }
    textarea{
        height: 67px;
        outline: 0;
        font-size: 14px;
    }

    .form-item{
        .tip-item{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            right: 16px;
            top: calc(50% - 8px);
            left: auto;
            background: url(../img/icons/info.svg) no-repeat;
            z-index: 20;
            opacity: 1;
            text-align: center;
        }
    }

    .sec-inp_type{
        margin-bottom: 16px;
    }
}

.captcha{
    margin: 26px 0;
}

.submit-block{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    button{
        padding: 6px 44px;
        font-family: $p_semi;
        margin-bottom: 8px;
    }
}

.cancel-form_btn{
    @include btn-neutral;
}
.submit-form_btn{
    @include btn-colored;
}

// post impression modal

.post-impression_modal {
    .reg-modal_header{
        padding: 48px 0px 0 0px;
    }
    .modal-content{
        background: #f9f8f8;
    }
    .modal-dialog{
        max-width: 600px;
    }
}

.post-impression_title{
    font-size: 22px;
    text-align: left;
    line-height: 1.45;
    color: $base-text-color;
    font-family: $p_semi;
    padding: 0 32px;
    p{
        font-size: 14px;
        font-family: $p_reg;
        line-height: 1.5;
        margin-bottom: 8px;
        margin-top: 4px;
    }
}

.post-impression_form{
    padding: 0 15px;
    position: relative;
    .step-item_area{
        height: 167px;
    }

    .range-mix{
        position: relative;
        width: 165px;
        border-radius: 10px;
        margin: 0;
    }

    .step-item_area{
        margin-bottom: 24px;
    }
}

.public-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    flex-direction: column;
    .submit-block{
        margin-top: 4px;
        margin-bottom: 0;
        button{
            width: 100%;
        }
    }
}

.range-box_rate{
    display: flex;
    align-items: center;
    .rate-value{
        width: 38px;
        height: 32px;
        background: #fe7402;
        color: #fff;
        font-size: 22px;
        font-family: $p_bold;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 8px 0 rgb(247, 152, 28);
        border-radius: 4px;
        margin-right: 16px;
    }
}


.authors_modal{

    .form-item{
        input[type=text] {
            margin-bottom: 8px;
        }
        .tip-item{
            top: 50%;
        }
    }

    .reg-modal_header{
        padding-top: 56px;
        padding-bottom: 0;
    }
    .feedback_modal-title{
        margin: 0;
    }

    .modal-content{
        background: #f9f8f8;
    }

    .modal-dialog{
        max-width: 600px;
    }

    .step-item_area{
        margin-bottom: 24px;
    }

    .radio-block{
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        label{
            font-size: 14px;
            .radioblock-text{
                padding-left: 26px;
                margin-bottom: 8px;
                font-family: $p_reg
            }
        }
        .radioblock-text{
            font-size: 14px;
            line-height: 1.75;
            color: $base-text-color;
            margin-bottom: 0;
            padding-left: 26px;
        }

        .modal-dialog .form-item input[type=text]{
            margin-bottom: 16px;
        }

        input:checked + .radioblock-text {
            font-family: $p_semi;
        }
    }
}

.content-percentage{
    display: flex;
    align-items: center;
    label{
        font-size: 14px;
        font-family: $p_semi;
        padding-left: 26px;
        margin-right: 16px;
    }
    .custom-select{
        width: auto;
    }
}

// Добавить полку/ книгу на полку

.add_shelf_modal{
    
    .modal-dialog{
        max-width: 600px;
    }

    .reg-modal_header{
        padding: 40px 0 16px 24px;
    }
    .modal-body{
        padding: 0 12px 12px 12px;
    }
}

.add_shelf_title{
    font-size: 26px;
    font-family: $p_semi;
    line-height: 1.38;
    color: $base-text-color;
    text-align: left;
}

.add_shelf_book_container{
    position: relative;
    &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(249, 248, 248) 100%);
        bottom: 0;
        left: 0;
    }
}

.add_shelf_book-list{
    height: 400px;
    margin-bottom: 16px;
    .shelf-container{
        margin-bottom: 0;
    }
}

.create_shelf_box .tip{
    margin-right: 16px;
    font-size: 26px;
    font-family: $p_semi;
}

.create_shelf_box{
    transition: .2s;
    &.create{
        text-align: center;
        .tip{
            display: none;
        }
        .add_description-btn{
            display: inline-block;
        }
    }
}

.shelf_name-secret{
    padding: 10px 0 10px 22px;
    display: flex;
    align-items: center;
}

.shelf_name-input{
    margin-right: 8px;
    max-width: 340px;
    flex: auto;
    input{
        padding: 5px 8px;
        width: 100%;
        border-radius: 4px;
        border: 1px solid #dfe3e9;
        font-family: $p_semi;
        &:focus{
            border: 1px solid $base-btn-color;
        }

        &::-webkit-input-placeholder {
            color: #7f8fa4;
            font-family: $p_reg;
		}
    }
}

.secret-shelf{
    display: flex;
    align-items: center;
    input{
        display: none;
    }
    label{
        position: relative;
        margin: 0;
        cursor: pointer;
    }
    span{
        padding-right: 24px;
        margin-left: 40px;
        font-family: $p_semi;
        &:before{
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 36px;
            height: 20px;
            border-radius: 50px;
            background: $base-btn-color;
            transition: .2s;
        }
        &:after{
            position: absolute;
            content: '';
            width: 16px;
            height: 16px;
            background: #fff;
            left: 17px;
            top: 2px;
            border-radius: 50%;
            transition: .2s;
        }
    }
    input:checked + span:after{
        left: 3px;
    }
    input:checked + span:before{
        background: #c5d0de;
    }
}

.shelf_name-description{
    padding: 10px 22px 10px;
    display: none;
    textarea{
        padding: 5px 8px;
        width: 100%;
        border-radius: 4px;
        border: 1px solid #dfe3e9;
        resize: vertical;
        height: 76px;
        &:focus{
            border: 1px solid $base-btn-color;
        }
    }
}

.add_description-btn{
    color: $base-btn-color;
    background: none;
    border: 0;
    text-decoration: none;
    display: none;
    font-family: $p_semi;
    line-height: 1.5;
    margin-bottom: 8px;
}

.create_shelf_settings{
    border: 2px solid $base-btn-color;
    border-radius: 4px;
    margin-bottom: 16px;
    display: none;
    padding-top: 6px;
}

.create_shelf_btn{
    @include btn-colored;
    padding: 9px 25px;
    width: 100%;
    span{
        margin-right: 10px;
    }
}

.popup-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: $p_semi;
    display: none;
    z-index: 100;
    padding: 22px 16px;
    background-blend-mode: multiply;
    &.success{
        background: rgba(57, 181, 74, .8);
    }
    &.info{
        background: $base-btn-color;
    }
    &.warning{
        background: #f7981c;
    }
    &.error{
        background: #f85359;
    }

    .tip-item{
        position: absolute;
        top: 0;
        left: 12px;
        background: url(../img/icons/info-w.svg) no-repeat;
        background-position: center;
        display: inline-block;
        width: 16px;
        height: 100%;
        z-index: 101;
    }
}

.popup-close_btn{
    width: 16px;
    height: 16px;
    background: url(../img/icons/close-w.svg) no-repeat;
    background-size: cover;
    border: 0;

    position: absolute;
    right: 12px;
    top: 12px;
}



@media screen and (min-width: 768px) {
    .user-help-modal{
        .modal-dialog{
            width: 100%;
            margin: 0 auto;
            max-width: 600px;
        }
    }
}

@media screen and (min-width: 600px) {
    .copy-link{
        flex-direction: row;
        max-width: 380px;
        margin: 0 auto 66px;
        .link-content{
            flex: auto;
            border-right: 0;
        }
    }

    .public-box{
        flex-direction: row;
        .submit-block{
            max-width: 100%;
        }
    }

    .submit-block{
        flex-direction: row;
        button{
            margin-bottom: 0;
        }
    }

    .add_shelf_modal{
        .modal-body{
            padding: 0 24px 24px 24px;
        }
    }
    .add_shelf_book-list{
        height: 540px;
    }
    .create_shelf_btn{
        width: auto;
    }

    .create_shelf_box{
        &.create{
            text-align: right;
        }
    }

    .add_description-btn{
        margin-right: 16px;
    }

    .shelf_name-input{
        margin-right: 35px;
    }

    .secret-shelf{
        span{
            padding-right: 36px;
            margin-left: 50px;
        }
    }
}