@import '_vars_and_mixins.scss';

.reader{
    height: 100%;
    &.default{
        p{
            color: #4a4a4a;
        }
    }
}

.reader.dark{
    background: #4a4a4a;
    .color-scheme{
        background: #353435;
    }
    
    .reader-header{
        background: #353435;
    }
    .reader-actions button{
        background: transparent;
        span{
            background: #c5d0de;
        }
    }
    .reader-content{
        background: #4a4a4a;
    }
    .reader-content_container{
        color: #eaeaea;
    }

    .reader-settings{
        background: #353435;
    }

    .reader-funcs{
        background: #353435;
    }
    .chapter-name, .settings-chapter-name,
    .progress-value, .settings-progress-value{
        color: #9b9b9b;
    }

    .output{
        background: #fff;
        color: $base-text-color;
    }

    .reader-section_list{
        background: #353435;
        li{
            a{
                background: #353435;
                color: #eaeaea;
            }
        }
    }

    .settings-data{
        background: #353435;
    }
    .settings-data-box{
        background: #353435;
    }
    .font-example{
        color: #fff;
    }
    .font-name{
        color: #fff;
    }

    .align-text{
        .align-left{
            background: url(../img/reader/left-w.svg) no-repeat;
            background-size: cover;
            margin-right: 35px;
        }
        .align-center{
            background: url(../img/reader/center-w.svg) no-repeat;
            background-size: cover;
        }
    }

    .lineheight-text{
        .lh-sm{
            background: url(../img/reader/lh-sm-w.svg) no-repeat;
            background-size: cover;
            margin-right: 21px;
        }
        .lh-md{
            background: url(../img/reader/lh-md-w.svg) no-repeat;
            background-size: cover;
            margin-right: 21px;
        }
        .lh-lg{
            background: url(../img/reader/lh-lg-w.svg) no-repeat;
            background-size: cover;
        }
    }

    .show-settings_btn{
        background-image: url(../img/reader/settings-w.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .show-chapters_btn {
        background-image: url(../img/reader/content-w.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .reader-settings_lgscreen{
        background: #353435;
    }

    .chapter-header{
        background: #353435;
        color: #fff;
    }

    .chapter-list{
        li{
            background: #353435;
            a{
                background: #353435;
                color: #fff;
            }
        }
    }

    .shelf-point:before{
        background: url(../img/icons/plus-w.svg) no-repeat;
        background-size: contain;
    }
    .review-point:before{
        background: url(../img/icons/write-w.svg) no-repeat;
        background-size: contain;
    }
    .share-point:before{
        background: url(../img/icons/share-w.svg) no-repeat;
        background-size: contain;
    }
    .feedback-point:before{
        background: url(../img/icons/info-w.svg) no-repeat;
        background-size: contain;
    }
}

.reader.sepia{
    background: #f5e9d1;

    .color-scheme{
        background: #353435;
    }
    .reader-header{
        background: #f5e9d1;
    }

    .reader-actions button{
        background: transparent;
        span{
            background: #a8aab7;
        }
    }

    .reader-content_container{
        color: #644d34;
    }

    .reader-funcs{
        background: #f5e9d1;
    }

    .reader-settings{
        background: #f5e9d1;
    }

    .settings-data{
        background: #353435;
    }
    .settings-data-box{
        background: #353435;
    }
    .font-example{
        color: #fff;
    }
    .font-name{
        color: #fff;
    }

    .align-text{
        .align-left{
            background: url(../img/reader/left-w.svg) no-repeat;
            background-size: cover;
            margin-right: 35px;
        }
        .align-center{
            background: url(../img/reader/center-w.svg) no-repeat;
            background-size: cover;
        }
    }

    .lineheight-text{
        .lh-sm{
            background: url(../img/reader/lh-sm-w.svg) no-repeat;
            background-size: cover;
            margin-right: 21px;
        }
        .lh-md{
            background: url(../img/reader/lh-md-w.svg) no-repeat;
            background-size: cover;
            margin-right: 21px;
        }
        .lh-lg{
            background: url(../img/reader/lh-lg-w.svg) no-repeat;
            background-size: cover;
        }
    }

    .reader-section_list{
        background: #f5e9d1;
    }

    .reader-settings_lgscreen{
        background: #f5e9d1;
    }
}

.reader-content{
    padding: 25px 27px 36px;
    background: transparent;
    transition: .3s;
    display: flex;
    flex-direction: column;
    &.active{
        background: rgba(0,0,0,.5);
    }
    p{
        font-size: 15px;
        line-height: 1.73;
    }

    .prev, .next{
        display: block;
        width: 25%;
        height: 100%;
        background: transparent;
        position: absolute;
        top: 0;
    }

    .prev{
        left: 0;
        transition: .2s;
        background-image: url(../img/icons/arr-left.svg);
        background-repeat: no-repeat;
        background-size: 25px 83px;
        background-position: 20px center;
    }
    .next{
        transition: .3s;
        right: 0;
        background-image: url(../img/icons/arr-right.svg);
        background-repeat: no-repeat;
        background-size: 25px 83px;
        background-position: right 20px center;
    }
}

.reader-content.second-page{
    text-align: right;
}

.reader-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.1);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    &.active{
        visibility: visible;
        opacity: 1;
        z-index: 99;
    }
}

.reader-bookname{
    font-size: 12px;
    font-family: $p_semi;
    color: $base-btn-color;
    
    white-space: nowrap;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    span{
        display: inline-block;
        margin-left: 5px;
        margin-right: 16px;
        width: 8px;
        left: 0;
        top: 0;
        height: 8px;
        transform: rotate(45deg);
        border-left: 2px solid;
        border-bottom: 2px solid;
    }
}

.reader-actions{
    position: relative;
    button{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 21px;
        width: 21px;
        cursor: pointer;
        justify-content: space-between;
        border: 0;
        background: #fff;
        outline: none;
        span{
            display: inline-block;
            height: 5px;
            width: 5px;
            background: $base-text-color;
            border-radius: 50%;
        }
    }
}

.reader-section_list{
    position: fixed;
    background: #fff;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    transition: .3s;
    &.active{
        transform: translateY(0);
    }
    li{
        a{
            display: inline-block;
            width: 100%;
            padding: 8px 8px 8px 43px;
            border-top: 1px solid rgba(0,0,0,.1);
            font-family: $p_semi;
            text-decoration: none;
            position: relative;
        }
    }
}

.shelf-point:before{
    position: absolute;
    top: calc(50% - 8px);
    left: 10px;
    content:'';
    width: 16px;
    height: 16px;
    background: url(../img/icons/plus.svg) no-repeat;
    background-position: left center;
    background-size: contain;
}
.review-point:before{
    position: absolute;
    top: calc(50% - 8px);
    left: 10px;
    content:'';
    width: 16px;
    height: 16px;
    background: url(../img/icons/write.svg) no-repeat;
    background-position: left center;
    background-size: contain;
}
.share-point:before{
    position: absolute;
    top: calc(50% - 8px);
    left: 10px;
    content:'';
    width: 16px;
    height: 16px;
    background: url(../img/icons/share.svg) no-repeat;
    background-position: left center;
    background-size: contain;
}
.feedback-point:before{
    position: absolute;
    top: calc(50% - 8px);
    left: 10px;
    content:'';
    width: 16px;
    height: 16px;
    background: url(../img/icons/info.svg) no-repeat;
    background-position: left center;
    background-size: contain;
}

.reader-funcs{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
}

.chapter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-top: 1px solid rgba(0,0,0,.1);
}

.chapter-name{
    max-width: 208px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #7f8fa4;
    font-style: italic;
}

.chapters-box{
    width: 100%;
    height: 100%;
    overflow-y: scroll; 
    box-shadow: 5px 7px 21px 10px rgba(0, 0, 0, 0.08);
    position: fixed;
    top: 41px;
    left: 0;
    display: none;
}

.chapter-header{
    position: relative;
    padding-left: 12px;
    background: #fff;
    .close{
        display: inline-block;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 8px;
        right: 8px;
        background: url(../img/icons/close.svg) no-repeat;
        background-size: contain;
    }
}

.progress-value{
    font-size: 12px;
    color: #7f8fa4;
}

.reader-settings{
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
}

.settings-chapter{
    @extend .chapter;
    padding-bottom: 5px;
}

.settings-chapter-name{
    @extend .chapter-name;
}

.settings-progress-value{
    @extend .progress-value;
}

.settings-range{
    position: relative;
    padding: 0 12px;
    margin-bottom: 14px;

    input{
        margin           : auto;
        outline          : none;
        padding          : 0;
        width            : 100%;
        height           : 4px;
        background-color : #e2e7ee;
        background-image : linear-gradient($base-btn-color, $base-btn-color);
        background-repeat: no-repeat;
        cursor           : pointer;
        -webkit-appearance: none;

        border-radius: 4px;

        transition: height .2s;

        &::-webkit-slider-runnable-track {
            box-shadow: none;
            border    : none;
            background: transparent;
            -webkit-appearance: none;
        }
        &::-moz-range-track {
            box-shadow: none;
            border    : none;
            background: transparent;
        }
        &::-moz-focus-outer {
            border: 0;
        }
        &::-webkit-slider-thumb {
            width          : 15px;
            height         : 15px;
            border         : 3px solid #ffa24c;
            border-radius  : 50%;
            background: #fff;
            -webkit-appearance: none;
            transition: .2s;
        }
        &::-moz-range-thumb {
            width          : 15px;
            height         : 15px;
            border         : 3px solid #ffa24c;
            border-radius: 50%;
            background: #fff;
            transition: .2s;
        }

        
    }
}

.reader-content_container{
    line-height: 1.4;
    overflow: hidden;
}

.output{
    position: absolute;
    background: rgba(0,0,0,.8);
    align-items: center;
    justify-content: center;
    font-family: $p_semi;
    padding: 2px 8px;
    color: #fff;
    bottom: calc(100% + 5px);
    left: 0;
    border-radius: 4px;
    display: none;
    transition: opacity .2s;
}

.reader-settings_box{
    display: flex;
    justify-content: space-between;
    padding: 0 36px;
    margin-bottom: 18px;
    position: relative;
    button{
        display: inline-block;
        width: 21px;
        height: 21px;
        border: 0;
        background-color: transparent;
        outline: 0;
    }
}

.show-chapters_btn{
    background-image: url(../img/reader/content-b.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.show-settings_btn{
    background-image: url(../img/reader/settings-b.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.chapter-modal{
    .reg-modal_header{
        padding: 0 12px;
    }

    .modal-body{
        padding: 0;
    }
}

.chapter-book_title{
    font-size: 22px;
    text-align: left;
    padding: 8px 0 16px 0;
    font-family: $p_semi;
}

.chapter-list{
    li{
        background: #fff;
        a{
            display: inline-block;
            white-space: nowrap;
            padding: 4px 12px;
            color: $base-text-color;
            border-bottom: 1px solid rgba(0,0,0,.1);
            width: 100%;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            background: #fff;
            &.already_read{
                font-family: $p_semi;
            }

            &.actual_read{
                position: relative;
                font-family: $p_semi;
                &:after{
                    position: absolute;
                    content: '';
                    width: 8px;
                    height: 8px;
                    background: $base-btn-color;
                    border-radius: 50%;
                    top: calc(50% - 4px);
                    right: 12px;
                }
            }
        }
    }
}

.settings-data{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    display: none;
}

.color-scheme{
    display: flex;
    justify-content: space-between;
    padding: 21px 21px 24px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-shadow: 5px 7px 21px 10px rgba(0, 0, 0, 0.08);
    button{
        display: inline-block;
        width: auto;
        padding: 0 24px;
        font-size: 10px;
        font-family: $p_bold;
        text-transform: uppercase;
        line-height: 1.9;
        border-radius: 100px;
    }

    .white-scheme_btn{
        background: #fff;
        border: 2px solid #f7981c;
        color: $base-text-color;
        box-shadow: 0 0 3px 0 rgb(223, 225, 229);
    }
    .sepia-scheme_btn{
        background: #f5e9d1;
        box-shadow: 0 0 3px 0 rgb(223, 225, 229);
    }
    .dark-scheme_btn{
        background: #4a4a4a;
        color: #fff;
        box-shadow: 0 0 3px 0 rgb(223, 225, 229);
    }
}

.settings-data-box{
    display: flex;
    background: #fff;

}

.text-params{
    flex: 1;
    padding: 30px 24px 28px;
}

.align-text{
    display: flex;
    margin-bottom: 36px;
    button{
        display: inline-block;
        width: 16px;
        height: 13px;
        opacity: .5;
        &.active{
            opacity: 1;
        }
    }
    .align-left{
        background: url(../img/reader/left-b.svg) no-repeat;
        background-size: cover;
        margin-right: 35px;
    }
    .align-center{
        background: url(../img/reader/center-b.svg) no-repeat;
        background-size: cover;
    }
}

.lineheight-text{
    button{
        display: inline-block;
        width: 24px;
        height: 33px;
        opacity: .5;
        line-height: 1.4;
        &.active{
            opacity: 1;
        }
    }

    .lh-sm{
        background: url(../img/reader/lh-sm-b.svg) no-repeat;
        background-size: cover;
        margin-right: 21px;
    }
    .lh-md{
        background: url(../img/reader/lh-md-b.svg) no-repeat;
        background-size: cover;
        margin-right: 21px;
    }
    .lh-lg{
        background: url(../img/reader/lh-lg-b.svg) no-repeat;
        background-size: cover;
    }
}

.font-params{
    flex: 1;
    display: flex;
    padding-right: 20px;
    max-width: 146px;
}

.fz-plus,
.fz-minus{
    align-self: center;
    margin-bottom: 70px;
    font-size: 32px;
    font-weight: bold;
    color: #f7981c;
}

.font-carousel{
    width: 100%;
    .carousel-indicators{
        margin-bottom: 2rem;
        li{
            width: 6px;
            height: 6px;
            border: 1px solid #f7981c;
            background: transparent;
            border-radius: 50%;
            &.active{
                background: #f7981c;
            }
        }
    }
}

.font-box{
    text-align: center;
}

.font-example{
    font-size: 52px;
    font-weight: 600;
    color: $base-text-color;
    line-height: 0.44;
    margin: 34px 0 20px;
    &.roboto{
        font-family: Roboto;
    }
    &.proxima{
        font-family: $p_reg;
    }
    &.adelle{
        font-family: $adelle;
    }
    &.opensans{
        font-family: 'Open Sans';
    }
}

.font-name{
    font-size: 10px;
    font-family: $p_bold;
    text-transform: uppercase;
    line-height: 1.7;
}

.reader-settings_lgscreen{
    display: none;
}

@media screen and (min-width: 768px) {
    .reader-settings{
        position: relative;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .settings-chapter{
        display: none;
    }
    .settings-range{
        display: none;
    }

    .reader-settings{
        margin-left: auto;
    }
    .reader-settings_box{
        margin: 0 0 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .show-chapters_btn{
        margin-right: 53px;
    }
    .show-settings_btn{
        margin-right: 40px;
    }

    .settings-data{
        min-width: 320px;
        position: absolute;
        top: calc(100% + 17px);
        left: auto;
        right: 40px;
        width: auto;
        z-index: 10;
        height: 100%;
    }
    .color-scheme{
        background: #fff;
    }

    .reader-section_list{
        position: absolute;
        right: 0;
        top: calc(100% + 17px);
        bottom: -155px;
        width: 206px;
        transform: translateY(0);
        left: auto;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
        display: none;

        &.active{
            display: block;
        }
        li{
            a{
                background: #fff;
            }
        }
    }

    .reader-content{
        padding: 40px;
        height: 100vh;
        &.active{
            background: transparent;
        }
    }

    .reader-header{
        padding: 17px 24px 17px 40px;
    }

    .reader-bookname{
        font-size: 14px;
        padding-right: 24px;
    }

    .chapter{
        padding: 12px 40px;
    }

    .reader-settings_lgscreen{
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        transform: translateY(100%);
        transition: .5s;
        background: #fff;
        &.active{
            transform: translateY(0);
        }
        .settings-chapter{
            display: flex;
        }
        .settings-range{
            display: block;
            padding: 0 40px;
        }
    }

    .chapters-box{
        position: absolute;
        top: calc(100% + 17px);
        left: auto;
        right: calc(100% - 20px);
        width: 320px;
        overflow: visible;
    }
    .chapter-header{
        padding-left: 21px;
    }

    .chapter-list{
        li{
            a{
                padding: 4px 21px;
            }
        }
    }

    .chapter-name{
        overflow: visible;
        text-overflow: unset;
    }
}

@media screen and (min-width: 1024px) {
    .reader-content{
        flex-direction: row;
        padding: 78px 54px;
    }
    .reader-content_container{
        flex: 1;
        padding: 0 34px;
        columns: 2;
        column-gap: 50px;
        &.single{
            columns: 1;
        }
    }

    .reader-header{
        padding: 22px 24px 22px 40px;
    }

    .settings-data,
    .reader-section_list,
    .chapters-box{
        top: calc(100% + 22px);
    }
}