@import '_vars_and_mixins.scss';
@import '_fonts.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    font-family: $p_reg;
    font-size: 14px;
    overflow-x: hidden;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: $base-text-color;
}

button{
    cursor: pointer;
}

.wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

footer{
    flex: 0 0 auto;
}

.box{
    max-width: 1200px;
    padding: 0 12px;
    margin: 0 auto 0 auto;
}

.colored{
    background: #f9f8f8;
}

.blur_bg_box{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0,0,0,.3);
    background-attachment: fixed;
    filter: blur(10px);
}

.btn-disabled{
    border: solid 1px rgba(0, 0, 0, 0.1);
    background: #ced2db;
    box-shadow: none;
}

h1{
    font-size: 26px;
    line-height: 1.38;
}
h2{
    font-size: 22px;
    line-height: 1.45;
}

@import './header.scss';
@import './start.scss';
@import './compilation_section.scss';
@import './card_item.scss';
@import './tips_carousel.scss';
@import './compilation_collections.scss';
@import './footer.scss';
@import './recomendation_section.scss';
@import './modals.scss';
@import './book_on_shelf.scss';
@import './book_item.scss';
@import './comment.scss';
@import './pagination.scss';
@import './up_btn.scss';
@import './author_item.scss';
@import './my_profile.scss';
@import './profile_settings.scss';
@import './authors.scss';
@import './genres.scss';
@import './reader.scss';
@import './404.scss';
@import './about_book_review.scss';
@import './shelf_collection.scss';
@import './crumbs.scss';
@import './all_authors_book.scss';
@import './advice_section.scss';