<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Start
        link(rel="stylesheet", href="css/libs.css")
        link(rel="stylesheet", href="css/index.css")
    body
        
        .wrapper
            include ../layout/main/up_btn.pug
            include ../layout/header/header.pug

            main
                .authors
                    .genres-search
                        input(type="text" placeholder="Поиск по авторам")
                        button.genres-search_btn

                    .last-requests
                        ul.request-list
                            li
                                a(href="") Игорь Манн
                                a(href="") Рберт Кийосаки
                                a(href="") Питер Друкер
                            li
                                a(href="") Игорь Манн
                                a(href="") Роберт Кийосаки
                                a(href="") Питер Друкер
                            li
                                a(href="") Игорь Манн
                                a(href="") Роберт Кийосаки
                                a(href="") Питер Друкер
                            li
                                a(href="") Игорь Манн
                                a(href="") Роберт Кийосаки
                                a(href="") Питер Друкер
                            li
                                a(href="") Игорь Манн
                                a(href="") Роберт Кийосаки
                                a(href="") Питер Друкер
                            li
                                a(href="") Игорь Манн
                                a(href="") Роберт Кийос
                                a(href="") Питер Друкер
                            li
                                a(href="") Игорь Манн
                                a(href="") Роберт Кийосаки
                                a(href="") Питер Друке
                            li
                                a(href="") Игорь Манн
                                a(href="") Роберт Кийосаки
                                a(href="") Питер Друкер
                            li
                                a(href="") Игорь Манн
                                a(href="") Роберт Кийосаки
                                a(href="") Питер Друкер
                            li
                                a(href="") Игорь Манн
                                a(href="") Рорт Кийосаки
                                a(href="") Питер Друкер
                        a(href="").more-request_items еще

                    .authors-box
                        .authors-header Самые обсуждаемые авторы
                            a.another-authors_link(href="") Еще 23
                        ul.authors-list
                            li
                                a(href="").authors-item
                                    .authors-item_img 
                                    .authors-item_name Айн Рид
                                    .authors-item_rate
                                        span.rate-value 6.5
                                        span.book-couter 5 книг
                            li
                                a(href="").authors-item
                                    .authors-item_img 
                                    .authors-item_name Айн Рид
                                    .authors-item_rate
                                        span.rate-value 6.5
                                        span.book-couter 5 книг
                            li
                                a(href="").authors-item
                                    .authors-item_img 
                                    .authors-item_name Айн Рид
                                    .authors-item_rate
                                        span.rate-value 6.5
                                        span.book-couter 5 книг
                            li
                                a(href="").authors-item
                                    .authors-item_img 
                                    .authors-item_name Айн Рид
                                    .authors-item_rate
                                        span.rate-value 6.5
                                        span.book-couter 5 книг
                            li
                                a(href="").authors-item
                                    .authors-item_img 
                                    .authors-item_name Айн Рид
                                    .authors-item_rate
                                        span.rate-value 6.5
                                        span.book-couter 5 книг
                            li
                                a(href="").authors-item
                                    .authors-item_img 
                                    .authors-item_name Айн Рид
                                    .authors-item_rate
                                        span.rate-value 6.5
                                        span.book-couter 5 книг

                        .alphabet-list
                            li
                                a.all-authors_link(href="") Все
                            li
                                a(href="") а
                            li
                                a(href="") б
                            li
                                a(href="") в
                            li
                                a(href="") г
                            li
                                a(href="") д
                            li
                                a(href="") е
                            li
                                a(href="") ж
                            li
                                a(href="") з
                            li
                                a(href="") и
                            li
                                a(href="") к
                            li
                                a(href="") л
                            li
                                a(href="") м
                            li
                                a(href="") н
                            li
                                a(href="") о
                            li
                                a(href="") р
                            li
                                a(href="") с
                            li
                                a(href="") т
                            li
                                a(href="") у
                            li
                                a(href="") ф
                            li
                                a(href="") х
                            li
                                a(href="") ц
                            li
                                a(href="") ч
                            li
                                a(href="") ш
                            li
                                a(href="") щ
                            li
                                a(href="") э
                            li
                                a(href="") ю
                            li
                                a(href="") я

                        
                        include ../layout/main/author_letter_item.pug
                        include ../layout/main/author_letter_item.pug
                        include ../layout/main/author_letter_item.pug

            include ../layout/footer/footer.pug
        script(src="./js/libs.min.js")
        script(src="./js/custom.js")
