<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Start
        link(rel="stylesheet", href="css/libs.css")
        link(rel="stylesheet", href="css/index.css")
    body
        
        .wrapper
            include ../layout/main/up_btn.pug
            include ../layout/header/header.pug

            main
                .authors
                    .authors-search
                        input
                    .authors-box
                        .authors-header Самые обсуждаемые авторы
                            a(href="") Еще 23
                        ul.authors-list
                            li.authors-item
                                .authors-item_img 
                                .authors-item_name Айн Рид
                                .authors-item_rate
                                    span.rate-value 6.5
                                    span.book-couter 5 книг
                            li.authors-item
                                .authors-item_img 
                                .authors-item_name Айн Рид Айн Рид Айн Рид Айн Рид 
                                .authors-item_rate
                                    span.rate-value 6.5
                                    span.book-couter 5 книг
                            li.authors-item
                                .authors-item_img 
                                .authors-item_name Айн Рид
                                .authors-item_rate
                                    span.rate-value 6.5
                                    span.book-couter 5 книг
                            li.authors-item
                                .authors-item_img 
                                .authors-item_name Айн Рид
                                .authors-item_rate
                                    span.rate-value 6.5
                                    span.book-couter 5 книг
                            li.authors-item
                                .authors-item_img 
                                .authors-item_name Айн Рид
                                .authors-item_rate
                                    span.rate-value 6.5
                                    span.book-couter 5 книг
                            li.authors-item
                                .authors-item_img 
                                .authors-item_name Айн Рид
                                .authors-item_rate
                                    span.rate-value 6.5
                                    span.book-couter 5 книг


            include ../layout/footer/footer.pug
        script(src="./js/libs.min.js")
        script(src="./js/custom.js")
