<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Start
        link(rel="stylesheet", href="css/libs.css")
        link(rel="stylesheet", href="css/index.css")
    body
        
        .wrapper
            main
                .reader.default
                    .reader-header
                        a(href="").reader-bookname <span></span>  Дейв Логан, Джон Кинг, Хэли Фишер-Райт «Лидер и племя. Пять уровней корпоративной культуры» Дейв Логан, Джон Кинг, Хэли Фишер-Райт «Лидер и племя. Пять уровней корпоративной культуры»
                        .reader-settings
                            .settings-chapter
                                .settings-chapter-name Минимально жизнеспособный про Минимально жизнеспособный прод…
                                .settings-progress-value 75%
                            .settings-range
                                input(type="range" min="1" max="100")
                                .output
                            .reader-settings_box
                                button.show-chapters_btn
                                button.show-settings_btn

                                .settings-data
                                    .color-scheme
                                        button.white-scheme_btn белый
                                        button.sepia-scheme_btn сепиа
                                        button.dark-scheme_btn серый
                                    .settings-data-box
                                        .text-params
                                            .align-text
                                                button.align-left.active
                                                button.align-center
                                            .lineheight-text
                                                button.lh-sm.active
                                                button.lh-md
                                                button.lh-lg
                                        .font-params
                                            button.fz-minus -
                                            #font-carousel.carousel.slide.font-carousel(data-ride='carousel')
                                                ol.carousel-indicators
                                                    li.active(data-target='#font-carousel', data-slide-to='0')
                                                    li(data-target='#font-carousel', data-slide-to='1')
                                                    li(data-target='#font-carousel', data-slide-to='2')
                                                    li(data-target='#font-carousel', data-slide-to='3')
                                                .carousel-inner
                                                    .carousel-item.active
                                                        .font-box
                                                            .font-example.roboto Aa
                                                            .font-name Roboto
                                                    .carousel-item
                                                        .font-box
                                                            .font-example.proxima Aa
                                                            .font-name ProximaNova
                                                    .carousel-item
                                                        .font-box
                                                            .font-example.adelle Aa
                                                            .font-name AdelleCyrillic
                                                    .carousel-item
                                                        .font-box
                                                            .font-example.opensans Aa
                                                            .font-name Open Sans
                                            button.fz-plus +
                                            .result
                                .chapters-box
                                    .chapter-header
                                        .chapter-book_title Содержание
                                        button.close
                                    ul.chapter-list
                                        li
                                            a.already_read(href="") Полководцам слава
                                        li
                                            a.actual_read(href="") Высотка
                                        li
                                            a(href="") Научные труды великого Соло
                                        li
                                            a(href="") Полководцам слава
                                        li
                                            a(href="") Научные труды великого Соло Научные труды великого Соло
                                        li
                                            a(href="") Научные труды великого Соло
                                        li
                                            a(href="") Полководцам слава
                                        li
                                            a(href="") Научные труды великого Соло Научные труды великого Соло
                                        li
                                            a(href="") Научные труды великого Соло
                                        li
                                            a(href="") Полководцам слава
                                        li
                                            a(href="") Научные труды великого Соло Научные труды великого Соло
                                        li
                                            a(href="") Научные труды великого Соло
                                        li
                                            a(href="") Полководцам слава
                                        li
                                            a(href="") Научные труды великого Соло Научные труды великого Соло
                        .reader-actions
                            button
                                span
                                span
                                span
                            ul.reader-section_list
                                li
                                    a.shelf-point(href="") На полку
                                li
                                    a.review-point(href="") Написать рецензию
                                li
                                    a.share-point(href="") Поделиться
                                li
                                    a.feedback-point(href="") Сообщить об ошибке

                    .reader-content
                        // на десктопном разрешении надо как-то добавлять еще один reader-content_container
                        // чтобы контент распологался в две колонки
                        .reader-content_container
                            |Эта простая читалка предлагает только самые необходимые функции, чтобы не отвлекать вас от чтения. Просто настройте один раз шрифты и фон — и наслаждайтесь любимыми книгами. Программа отлично интерпретирует разметку текста, поэтому вам не нужно регулировать абзацы и отступы в каждой новой книге. eBoox поддерживает синхронизацию между Android-устройствами и читает впечатляющее количество форматов. Плюс ко всему приложение полностью бесплатно и не отображает рекламу. Ещё один хороший ридер, рассчитанный на поклонников минимализма. «Play Книги» поддерживает гораздо меньше форматов, чем eBoox, зато предлагает кроссплатформенную синхронизацию между Android, iOS и веб, а также возможность быстрой покупки книг из встроенного магазина. Свои книги можно добавлять бесплатно. Приложение без рекламы.
                            |Эта простая читалка предлагает только самые необходимые функции, чтобы не отвлекать вас от чтения. Просто настройте один раз шрифты и фон — и наслаждайтесь любимыми книгами. Программа отлично интерпретирует разметку текста, поэтому вам не нужно регулировать абзацы и отступы в каждой новой книге. eBoox поддерживает синхронизацию между Android-устройствами и читает впечатляющее количество форматов. Плюс ко всему приложение полностью бесплатно и не отображает рекламу. Ещё один хороший ридер, рассчитанный на поклонников минимализма. «Play Книги» поддерживает гораздо меньше форматов, чем eBoox, зато предлагает кроссплатформенную синхронизацию между Android, iOS и веб, а также возможность быстрой покупки книг из встроенного магазина. Свои книги можно добавлять бесплатно. Приложение без рекламы.
                            |Эта простая читалка предлагает только самые необходимые функции, чтобы не отвлекать вас от чтения. Просто настройте один раз шрифты и фон — и наслаждайтесь любимыми книгами. Программа отлично интерпретирует разметку текста, поэтому вам не нужно регулировать абзацы и отступы в каждой новой книге. eBoox поддерживает синхронизацию между Android-устройствами и читает впечатляющее количество форматов. Плюс ко всему приложение полностью бесплатно и не отображает рекламу. Ещё один хороший ридер, рассчитанный на поклонников минимализма. «Play Книги» поддерживает гораздо меньше форматов, чем eBoox, зато предлагает кроссплатформенную синхронизацию между Android, iOS и веб, а также возможность быстрой покупки книг из встроенного магазина. Свои книги можно добавлять бесплатно. Приложение без рекламы.
                            |Эта простая читалка предлагает только самые необходимые функции, чтобы не отвлекать вас от чтения. Просто настройте один раз шрифты и фон — и наслаждайтесь любимыми книгами. Программа отлично интерпретирует разметку текста, поэтому вам не нужно регулировать абзацы и отступы в каждой новой книге. eBoox поддерживает синхронизацию между Android-устройствами и читает впечатляющее количество форматов. Плюс ко всему приложение полностью бесплатно и не отображает рекламу. Ещё один хороший ридер, рассчитанный на поклонников минимализма. «Play Книги» поддерживает гораздо меньше форматов, чем eBoox, зато предлагает кроссплатформенную синхронизацию между Android, iOS и веб, а также возможность быстрой покупки книг из встроенного магазина. Свои книги можно добавлять бесплатно. Приложение без рекламы.
                            |Эта простая читалка предлагает только самые необходимые функции, чтобы не отвлекать вас от чтения. Просто настройте один раз шрифты и фон — и наслаждайтесь любимыми книгами. Программа отлично интерпретирует разметку текста, поэтому вам не нужно регулировать абзацы и отступы в каждой новой книге. eBoox поддерживает синхронизацию между Android-устройствами и читает впечатляющее количество форматов. Плюс ко всему приложение полностью бесплатно и не отображает рекламу. Ещё один хороший ридер, рассчитанный на поклонников минимализма. «Play Книги» поддерживает гораздо меньше форматов, чем eBoox, зато предлагает кроссплатформенную синхронизацию между Android, iOS и веб, а также возможность быстрой покупки книг из встроенного магазина. Свои книги можно добавлять бесплатно. Приложение без рекламы.
                        .reader-content_container
                            |Эта простая читалка предлагает только самые необходимые функции, чтобы не отвлекать вас от чтения. Просто настройте один раз шрифты и фон — и наслаждайтесь любимыми книгами. Программа отлично интерпретирует разметку текста, поэтому вам не нужно регулировать абзацы и отступы в каждой новой книге. eBoox поддерживает синхронизацию между Android-устройствами и читает впечатляющее количество форматов. Плюс ко всему приложение полностью бесплатно и не отображает рекламу. Ещё один хороший ридер, рассчитанный на поклонников минимализма. «Play Книги» поддерживает гораздо меньше форматов, чем eBoox, зато предлагает кроссплатформенную синхронизацию между Android, iOS и веб, а также возможность быстрой покупки книг из встроенного магазина. Свои книги можно добавлять бесплатно. Приложение без рекламы.
                            |Эта простая читалка предлагает только самые необходимые функции, чтобы не отвлекать вас от чтения. Просто настройте один раз шрифты и фон — и наслаждайтесь любимыми книгами. Программа отлично интерпретирует разметку текста, поэтому вам не нужно регулировать абзацы и отступы в каждой новой книге. eBoox поддерживает синхронизацию между Android-устройствами и читает впечатляющее количество форматов. Плюс ко всему приложение полностью бесплатно и не отображает рекламу. Ещё один хороший ридер, рассчитанный на поклонников минимализма. «Play Книги» поддерживает гораздо меньше форматов, чем eBoox, зато предлагает кроссплатформенную синхронизацию между Android, iOS и веб, а также возможность быстрой покупки книг из встроенного магазина. Свои книги можно добавлять бесплатно. Приложение без рекламы.
                    .reader-funcs
                        .chapter
                            .chapter-name Минимально жизнеспособный про Минимально жизнеспособный прод…
                            .progress-value 75%
                        .progress(style="height: 3px")
                            .progress-bar(role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100")
                    .reader-settings_lgscreen
                        .settings-chapter
                            .settings-chapter-name Минимально жизнеспособный про Минимально жизнеспособный прод…
                            .settings-progress-value 75%
                        .settings-range
                            input(type="range" min="1" max="100")
                            .output

                    .chapters-box
                        .chapter-header
                            .chapter-book_title Содержание
                            button.close
                        ul.chapter-list
                            li
                                a.already_read(href="") Полководцам слава
                            li
                                a.actual_read(href="") Высотка
                            li
                                a(href="") Научные труды великого Соло
                            li
                                a(href="") Полководцам слава
                            li
                                a(href="") Научные труды великого Соло Научные труды великого Соло
                            li
                                a(href="") Научные труды великого Соло
                            li
                                a(href="") Полководцам слава
                            li
                                a(href="") Научные труды великого Соло Научные труды великого Соло
                            li
                                a(href="") Научные труды великого Соло
                            li
                                a(href="") Полководцам слава
                            li
                                a(href="") Научные труды великого Соло Научные труды великого Соло
                            li
                                a(href="") Научные труды великого Соло
                            li
                                a(href="") Полководцам слава
                            li
                                a(href="") Научные труды великого Соло Научные труды великого Соло

        script(src="./js/libs.min.js")
        script(src="./js/custom.js")
